
    html{
      background-color: #000435;
    }
    .div1{
      max-width: fit-content;
      margin: auto;
      color: white;
      font-family: "verdana";
      font-size: 56px;
      text-transform: uppercase;
    }
    .div2{
      margin: auto;
      color: white;
      font-family: "verdana", serif;
      font-size: 24px;
    }
    .div3{
      color: white;
      font-family: "verdana", serif;
      font-size: 16px;
    }
    .div4{
      color: white;
      text-align: center;
      font-family: "verdana", serif;
      font-size: 20px;
    }
    .div5{
      color: white;
      font-size: 8px;
    }
    .tf{
        margin: auto;
        max-width: fit-content;

      }
      .small_print{
        text-align: center;
        padding: 3px;
        background-color: #DBE9F4;
        color: black;
        font-size: 8px;
        padding-bottom: 1rem;
      }
    .breaker_setting1{
        height: 16px;
        background-color: white;
        border-width: 0;
    }
    .breaker_setting2{
        height: 8px;
        background-color: white;
        border-width: 0;
    }
    .flex-container{
      display: flex;
      justify-content: center;
      align-items: center;
    }

