<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Eric's Website</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="python">Python</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="notes">Notes</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="posts">Posts</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="visuals">Visuals</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="html">HTML</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
              <ul class="dropdown-menu">
                {% if not current_user.is_authenticated: %}
                  <li><a class="dropdown-item" href="{{ url_for('login') }}">Login</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{ url_for('register') }}">Register</a></li>
                  <li><hr class="dropdown-divider"></li>
                    {% if current_user.is_authenticated %}
                      <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                      <li><hr class="dropdown-divider"></li>
                    {% endif %}
                {% endif %}
              </ul>
            </li>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>