<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}
.container {
  width: 100%;
}
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}
.html1 {width: 10%; background-color: #04AA6D;}
.python1 {width: 20%; background-color: #2196F3;}

    .html2 {width: 5%; background-color: #04AA6D;}
.python2 {width: 30%; background-color: #2196F3;}

    .html3 {width: 10%; background-color: #04AA6D;}
.python3 {width: 20%; background-color: #2196F3;}

</style>
</head>
<body>
</body>
</html>
